<div class = "menu_bar_horizontal">
                        
    <a href="/login">Logout</a>
    <a href="/users/updateUserLimited">Update Account Info</a>
    <a href="/users/adminIndex">Tester</a>
    <a href="/observations/addObservation">Add New Observation</a>
    <a href="/observations/showObservation">See All Observations</a>
    <a href="/observations/queryObservationById">Check A Users Observations</a>
    
</div>