<div class = "menu_bar_horizontal">
                        
        <a href="/login">Logout</a>
        <a href="/users/getusers">View Users</a>
        <a href="/users/adduser">Register User</a>
        <a href="/users/queryuserbyid">Query Users</a>
        <a href="/users/updateuser">Update User</a>
        <a href="/users/deleteuserbyid">Delete User</a>
        <a href="/users/updateUserLimited">Update 1</a>
        
</div>